<div>


<div class ='card'>

    <div style="text-align:center">
        <div class = 'card-header'>
            <h2>Form</h2>
        </div>
      </div>
  
  <div class = 'card-body'>
    <div class="col">
      <div class = 'row-md-4'> <h3>Name</h3> 
        <div class = 'row-md-4'> 
          <input type="text" style="margin:2%;" placeholder=" Enter Name" >
        </div>
      </div>
      <div class = 'row-md-4'> <h3>E-mail </h3>
          <div class = 'row-md-4'> 
            <input type="email"style="margin:2%;" placeholder="Enter e-mail">
          </div>
        </div>
        <div >
            <div class = 'row-md-4'>  <h3>Location</h3>
            <div class = 'row-md-4'> 
                <input type="text" style="margin:2%;" placeholder=" Enter your Location">
                
              </div>
        </div>
        
      </div>
      <div>
        <br>
        <button class="btn btn-primary" style='margin-right:16px' >View</button> 
        
        <button class="btn btn-primary" type="submit" style='margin-right:16px' >Submit</button>
      </div>
     
     

    </div>
  
  </div>
</div>

</div>